<template name="distanceProgress">
  <div id="distanceProgressContainer">
    {{#if displayProgress}}
    <div id="distanceProgress">
      {{>distanceProgressLine id="line_drive" icon="directions_car" percent=displayProgress.drivePercentage text=displayProgress.driveText}}
      {{>distanceProgressLine id="line_walk" icon="directions_walk" percent=displayProgress.walkPercentage text=displayProgress.walkText}}
    </div>
    {{/if}}
  </div>
</template>


<template name="distanceProgressLine">
  {{#if percent}}
    <div class="distanceProgressLine" id="{{id}}" style="width:{{percent}}%">
      <div class="distanceTimeText"><i class="material-icons">{{icon}}</i> <span>{{text}}</span></div>
    </div>
  {{/if}}
</template>
