<template name="distanceProgressUI">
  <div id="distanceProgressUIContainer">
    {{#if displayProgress}}
    <div id="distanceProgressUI">
      {{>distanceProgressLine id="line_drive" percent=displayProgress.drivePercentage text=displayProgress.driveText}}
      {{>distanceProgressLine id="line_walk" percent=displayProgress.walkPercentage text=displayProgress.walkText}}
    </div>
    {{/if}}
  </div>
</template>


<template name="distanceProgressLine">
    <div class="distanceProgressLine" id="{{id}}" style="width:{{percent}}%"><div class="distanceTimeText">{{text}}</div></div>
</template>
