#menuBar{
  width:100%;
  height: 4em;
  //background-color: rgba(#000000, 0.84) ;
  background-image: url("/img/backgrounds/nav-background.png");
//  background-position:left;
  background-size:100% 100%;
  //background-attachment: fixed;
//  background-repeat: repeat-x;
}
