<template name="overlayControl">

  <div class="top-left-controls">
    <a href="/setting" class="btn btnSetting "  name="Setting"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
    <button class="btn btnList  " type="button" name="btnList"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
  </div>

  <div class="bottom-left-controls">
    <button class="btn btn2d3d " type="button" name="btn2d3d">2D/3D</button>
    <button class="btn btnCurr " type="button" name="btnCurr"><i class="fa fa-crosshairs" aria-hidden="true"></i></button>
  </div>

</template>
