<template name="overlayControl">

  <div class="left-controls">
    <a href="/setting" class="btn btnSetting btn-default "  name="Setting"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
    <button class="btn btnList btn-default " type="button" name="btnList"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
    <button class="btn btn2d3d btn-default" type="button" name="btn2d3d">2D/3D</button>
    <button class="btn btnCurr btn-default" type="button" name="btnCurr"><i class="fa fa-crosshairs" aria-hidden="true"></i></button>
  </div>

</template>
