.left-controls{
  position:fixed;
  left:1em;
}

.btnSetting {
  @extend .btn-transparent;
  @extend .left-controls;

  top:3em;
}
.btnList{
  @extend .btn-transparent;
  @extend .left-controls;

  top:5.5em;
}

.btn2d3d{
  @extend .btn-transparent;
  @extend .left-controls;

  bottom: 1em;
}

.btnCurr{
  @extend .btn-transparent;
  @extend .left-controls;

  bottom: 4em;
}
