<template name="overlayControl">
  <!-- <div class="leftControls" id="searchDiv">
    <div class="searchInputGroup form-group col-sm-5 col-xs-12 ">

        <div class="input-group">
          <input type="text" class="form-control tbSearch" value="Search" onfocus="this.value=''" placeholder="Search">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go</button>
          </span>
        </div>


      <a href="" class="js-cancelSearch"><span class="glyphicon glyphicon-remove"></span></a>

    </div>

  </div> -->
  <!-- <button class="btn btnSearch leftControls" type="button" name="btnSearch"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button> -->
  <div class="left-controls">
    <button class="btn btnSetting " type="button" name="btnSetting"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
    <button class="btn btnList " type="button" name="btnList">List View<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></button>
    <button class="btn btn2d3d " type="button" name="btn2d3d">2D/3D</button>
    <button class="btn btnCurr " type="button" name="btnCurr"><i class="fa fa-crosshairs" aria-hidden="true"></i></button>
  </div>


</template>
