<template name="parkingSpotInfoWindow">

    <div id={{id}} style="min-width:200px">
        <h3>{{name}}</h3>
        <p> {{info}} </p>
        <br />
        <!-- <button class="btn btn-sm btn-warning btnNavToParkingSpot" id={{spotId}}>TEST</button>
        <br /> -->
        <!-- <button class="btn btn-sm btn-success btnNavToSpotAndWalk" id={{spotId}}>Click here to park and walk</button>  -->
        <button class="btn btn-sm" data-toggle="modal" data-target="#test">Show detail</button>
     </div>

</template>
