<template name="parkingSpotDetail">
  <!-- {{#with getSelected}} -->
    <div id="test" class="modal fade" tabindex="-1" role="dialog">
     <div class="modal-dialog" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title">Hi title</h4>
         </div>
         <div class="modal-body">
           <div class="row">
             <div class="col-xs-4">
               <img src="/img/parkingSpot/test.png" alt="" class="img-rounded center-block"/>
             </div>
             <div class="col-xs-8">
               Rating here <br>
               <i class="fa fa-star-half-o ratingStar" aria-hidden="true"></i>
               <i class="fa fa-star-half-o ratingStar" aria-hidden="true"></i>
               <i class="fa fa-star-half-o ratingStar" aria-hidden="true"></i>
               <i class="fa fa-star-half-o ratingStar" aria-hidden="true"></i>
               <i class="fa fa-star-half-o ratingStar" aria-hidden="true"></i>
               <br>
               0 / 5
             </div>
           </div>
           <div class="row">
             <div class="col-xs-12">
              <ul>
                <li>Types and stuff</li>
                <li>Types and stuff</li>
                <li>Distance and stuff</li>
                <li>Comments and stuff</li>
              </ul>

             </div>

           </div>

         </div>
         <div class="modal-footer">
           <button type="button" class="btn " data-dismiss="modal">Direction to here</button>
           <button type="button" class="btn btn-success" data-dismiss="modal">Direction to here &#38; to destination</button>
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
       </div><!-- /.modal-content -->
     </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  <!-- {{/with}} -->
</template>
