<template name="parkingSpotDetail">
  {{#with getSelected}}
  <div id="detailModal" class="modal fade" tabindex="-1" role="dialog">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         <h4 class="modal-title">{{getName}}</h4>
       </div>
       <div class="modal-body">
         <div class="row">
           <div class="col-xs-4">
             <img src="/img/parkingSpot/test.png" alt="" class="img-rounded img-responsive center-block"/>
           </div>
           <div class="col-xs-8">
             Rating:<br>
             {{#with getRatingStars}}
               <i class="fa {{s1}} ratingStar" aria-hidden="true"></i>
               <i class="fa {{s2}} ratingStar" aria-hidden="true"></i>
               <i class="fa {{s3}} ratingStar" aria-hidden="true"></i>
               <i class="fa {{s4}} ratingStar" aria-hidden="true"></i>
               <i class="fa {{s5}} ratingStar" aria-hidden="true"></i>

               <br>
              {{ratingNumber}} / 5
             {{/with}}
           </div>
         </div>
         <div class="row">
           <div class="col-xs-12">
            <ul>
              <li>Types and stuff</li>
              <li>Types and stuff</li>
              <li>Distance and stuff</li>
              <li>Comments and stuff</li>
            </ul>
           </div>
         </div>

       </div>
       <div class="modal-footer center-block">
         <span >
           <button type="button" class="btn btn-default disabled">
             <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
           </button>
         </span >
         <span >
           <button type="button" class="btn btn-default js-directionToSpot" data-dismiss="modal"><i class="material-icons">directions</i><i class="material-icons">directions_car</i></button>
           <button type="button" class="btn btn-success js-directionToSpotAndWalk" data-dismiss="modal">
             <i class="material-icons">directions</i><i class="material-icons">directions_car</i>
             <i class="fa fa-long-arrow-right"></i><i class="material-icons">directions_walk</i>
           </button>
         </span>
         <span >
           <button type="button" class="btn btn-default disabled">
             <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
           </button>
         </span>
       </div>
     </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  {{/with}}
</template>
