#searchDiv .form-group .input-group{
  width:89%;
  float:left;
  // width:auto;
}

#searchDiv .input-group-addon{
  background: white !important;
  padding-top: 0px;
  padding-bottom: 0px;
}
#searchDiv .tbSearch{
  border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
  // width:auto;
}

#searchDiv .js-cancelSearch{
  color:red;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 25px;
  float: left;
  // width:auto;
}

#searchDiv button{
  border:0;
  background:transparent;
  font-size:$font-size-control;
  padding-top: 0px;
  padding-bottom: 0px;
}

#searchDiv{
  padding: 6px 0px;
  position: absolute;
  left: 1em;
  top: .5em;
}

.btnSearchClose{
  position: absolute;
  left: 1em;
  top: .5em;
}

.btnSearch{
  @extend .btn-transparent;

}
