<template name="searchBox">
  <div id="searchDiv" class="col-sm-6 col-xs-12">
    <div class="searchBarWrapper col-xs-11 closed">
      <div class="searchBoxWrapper closed">
        <div class="row">
          <div class="inputWrapper col-xs-11 closed">
            <input type="text" class="form-control tbSearch" placeholder="Search">
          </div>
          <div class="searchButtonWrapper">
            <button class="btn btnSearch btnSearchClosed" type="button" name="btnSearch">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
          </div>
        </div>

      </div>
    </div>

    <a href="" class="js-cancelSearch"><span class="glyphicon glyphicon-remove"></span></a>

  </div>

</template>
